# Lecture 2

## Basic Python Constructs for Scientific Computing
1. Types and Sequences
       a) Tuples
       b) Lists
       c) Strings
2. Dates and Times
3. Objects and map()
4. Lambda and List Comprehensions

###  Types and Sequences

The absence of static typing in Python doesn't mean that there aren't types at all.<br>
Use `type` to return the object's type. <br>
Some of the common types includes strings, the NoneType, integers and floating point variables. <br>
You can have reference to function as well as a function type also exist.

In [1]:
type('This is a string')

str

In [2]:
type(None)

NoneType

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [6]:
type(add_numbers)

function

And there's three native kinds of collections that we're going to talk about, **tuples**, **lists**, and **dictionaries**.<br> A **tuple** is a sequence of variables which itself is immutable. That means that a tuple has items in an ordering, but that it cannot be changed once created. We write tuples using parentheses, and we can mix types for the contents of the tuple. <br>
Here's a tuple which has four items. Two are numbers, and two are strings.

In [7]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [8]:
x[2] = 3

TypeError: 'tuple' object does not support item assignment

Lists are very similar, but they can be mutable, so you can change their length, number of elements, and the element values.<br> A list is declared using the square brackets.

In [9]:
x = [1, 'a', 2, 'b']
type(x)

list

In [10]:
x[2]=3
x

[1, 'a', 3, 'b']

There are a couple of different ways to change the contents of a list. One is through the append function which allows you to append.<hr>
Use `append` to append an object to a list.

In [11]:
x.append(3.3)
print(x)

[1, 'a', 3, 'b', 3.3]

Both lists and tuples are iterable types, so you can write loops to go through every value they hold. The norm, if you want to look each item in the list is to use a `for` statement. This is similar to the `foreach` loop in languages like Java and C# but note that there's no typing required. <hr>
This is an example of how to loop through each item in the list.

In [12]:
for item in x:
    print(item)

1
a
3
b
3.3

Lists and tuples can also be accessed as arrays might in other languages, by using the square bracket operator, which is called the **indexing operator**. The first item of the list starts at position zero and to get the length of the list, we use the built-in `len` function.<hr>
Using the indexing operator:

In [13]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
3
b
3.3

There are some other common functions that you might expect like `min` and `max` which will find the minimum or maximum values in a given list or tuple.

In [14]:
b = [1,2,3,4,5]
print(f'min(b)= {min(b)}')
print(f'max(b)= {max(b)}')
print(f'sum(b)= {sum(b)}')

min(b)= 1
max(b)= 5
sum(b)= 15

In [15]:
c = (6,7,8)
print(f'min(c)= {min(c)}')
print(f'max(c)= {max(c)}')
print(f'sum(c)= {sum(c)}')

min(c)= 6
max(c)= 8
sum(c)= 21

Python lists and tuples also have some basic mathematical operations that can be allowed on them
<hr>
Use `+` to concatenate lists.

In [16]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat the values of a list.

In [17]:
[1]*3

[1, 1, 1]

A very common operator is the `in` operator. This looks at set membership and returns a boolean value of true or false depending on whether one item is in a given list.<hr>
Use the `in` operator to check if something is inside a list.

In [18]:
1 in [1, 2, 3]

True

In [19]:
5 in c

False

About immutability of tuple<hr>
The tuple is immutable, that means value of a tuple can't be changed after it is created. But the "value" of a tuple is in fact a sequence of names with unchangeable bindings to objects. The key thing to note is that the bindings are unchangeable, not the objects they are bound to.

In [24]:
tpl=('hello',[1,2,3])
print(tpl)
a = id(tpl)
print(a)

('hello', [1, 2, 3])
82882760

In [25]:
tlp[1][2]=5
print(tpl)
b = id(tpl)
print(b)

('hello', [1, 2, 3])
82882760

In [26]:
a == b

True

<p>One of the most interesting operation you can do with lists is called slicing. Where the square bracket array syntax for accessing an element might look fairly similar to that which you've seen in other languages. </p>
<p>In Python, the indexing operator allows you to submit multiple values. The first parameter is the starting location, if this is the only element then one item is return from the list. The second parameter is the end of the slice.</p>
<p>It's an exclusive end so if you slice with the first parameter being zero the next parameter being one, then you only get back one item. </p>
<p>One handy aspect of Python is that all strings are actually just lists of characters so slicing works wonderfully on them. Here's an example. When we run x[0] or x[0:1] we get just the first character of the string. But when we run x[0:2], we get the first two characters of the string. </p>
<p>The Python slice sintax is <b>str_object[start_pos:end_pos:step]</b></p>

In [30]:
x = 'This is a very long string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character. The same as x[:1]
print(x[0:2]) #first two characters. The same as x[:2]
print(x[3:16:4])

T
T
Th
s el

Our indexing values can also be negative which is really cool. And this means to index from the back of the string. So x[-1] gets us the last letter of the string

In [31]:
x[-1]

'g'

This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [32]:
x[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [33]:
x[:3]

'Thi'

<p>Finally if we want to reference the start or the end of the string implicitly, we can by just leaving the parameter empty. So x[:3] starts with the first character and goes until position three. And the x[3:] starts with the fourth character because indexing always begins with zero and goes to the end of the list.</p>
<p>Slicing is core to the Python language and is a big part of the scientific computing with Python as well. Especially when we start manipulating matrices. </p>

In [34]:
x[3:]

's is a very long string'

And a common activity is to split strings based on substrings. <br>
Python has some basic tools for text analysis. As we saw, strings are just lists of characters. So operations you can do on a list, you can do on a string. This means that you can concatenate two strings together using `+` operator. And multiplying strings (`*`) will repeat a given string. You can also search for strings using the `in` operator.

In [35]:
firstname = 'James'
lastname = 'Bond'

print(firstname + ' ' + lastname)
print(firstname*3)
print('James' in firstname)
print('Ivan' in firstname)

James Bond
JamesJamesJames
True
False

The string type has an associated function called `split`. This function breaks the string up into substrings based on a simple pattern. <hr>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [36]:
'James 007 Agent Bond'.split()

['James', '007', 'Agent', 'Bond']

We can choose the first element with the indexing operator to be the first name, and the last element to be the last name.

In [38]:
firstname = 'James 007 Agent Bond'.split(' ')[0] # [0] selects the first element of the list
lastname = 'James 007 Agent Bond'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

James
Bond

<br>
Make sure you convert objects to strings before concatenating.

In [39]:
'James' + 2

TypeError: can only concatenate str (not "int") to str

In [40]:
'James' + str(2)

'James2'

About immutability of a string<br>
We can't assign a value to the element of a string

In [42]:
s = "Hello"
s[3]='a'

TypeError: 'str' object does not support item assignment

In Python, a string is immutable. You cannot overwrite the values of immutable objects. However, you can assign the variable again. It's not modifying the string object; it's creating a new string object

In [43]:
a = id(s)
s += " World"
b = id(s)
s

'Hello World'

In [44]:
a == b

False

<p>Dictionaries are similar to lists and tuples in that they hold a collection of items, but they're labeled collections which do not have an ordering. This means that for each value you insert into the dictionary, you must also give a key to get that value out.</p>
<p> And in Python we use curly braces to denote a dictionary.</p> <hr>
<p>Here is an example where we might link names to email addresses. You can see that we indicate each item of the dictionary when creating it using a pair of values separated by colons. Then you can retrieve a value for a given label using the indexing operator.</p><hr>
Dictionaries associate keys with values.

In [45]:
x = {'James Bond': 'bond007@mi7.gov.uk', 'Bill Gates': 'billg@microsoft.com'}
x['James Bond'] # Retrieve a value by using the indexing operator

'bond007@mi7.gov.uk'

In [46]:
x

{'James Bond': 'bond007@mi7.gov.uk', 'Bill Gates': 'billg@microsoft.com'}

In [47]:
x['Peter Parker']

KeyError: 'Peter Parker'

We can add new items to the dictionary using the same indexing operator we are used to. Just on the left hand side of a statement. Pay attention, that there is no output

In [48]:
x['Bruce Wayne'] = None
x['Bruce Wayne']

In [49]:
x

{'James Bond': 'bond007@mi7.gov.uk',
 'Bill Gates': 'billg@microsoft.com',
 'Bruce Wayne': None}

We can iterate over all of the items in a dictionary in a number of ways
<br>
1. Iterate over all of the keys:

In [50]:
for name in x:
    print(x[name])
    print(name)

bond007@mi7.gov.uk
James Bond
billg@microsoft.com
Bill Gates
None
Bruce Wayne

<br>
2. Iterate over all of the values:

In [51]:
for email in x.values():
    print(email)

bond007@mi7.gov.uk
billg@microsoft.com
None

<br>
3. You can iterate over both the values and the keys at once using the item's function

In [52]:
for name, email in x.items():
    print(name)
    print(email)

James Bond
bond007@mi7.gov.uk
Bill Gates
billg@microsoft.com
Bruce Wayne
None

This last example (In[52]) is a little bit different, and it's an example of something called **unpacking**. In Python you can have a sequence. That's a list or a tuple of values, and you can unpack those items into different variables through assignment in one statement. 
<br>
Here's another example of that, where we have a tuple that has the first name, last name, and email address.

In [53]:
x = ('James', 'Bond', 'bond007@mi7.gov.uk')
fname, lname, email = x

In [54]:
type(x)

tuple

In [55]:
fname

'James'

In [56]:
lname

'Bond'

In [57]:
email

'bond007@mi7.gov.uk'

In [58]:
x

('James', 'Bond', 'bond007@mi7.gov.uk')

The same with list

In [59]:
y = ['Johnny', 'English', 'jonnyeng@mi7.gov.uk']

In [62]:
f_name, l_name, e_mail = y

In [63]:
print(f_name)
print(l_name)
print(e_mail)

Johnny
English
jonnyeng@mi7.gov.uk

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.
Python has unpacked the tuple, and assigned each of these variables in order. We can see that if we add a fourth item to the tuple, Python isn't sure how to unpack that, so we have an error.

In [64]:
x = ('James', 'Bong', 'bond007@mi7.gov.uk', 'Daniel')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

We saw in `In[39]` that if we wanted to print out a name and a number that we can't use concatenation without calling the `str` function to convert the number to a string first. <br>
This creates a lot of nasty looking code where every operator you're looking to concatenate is wrapped in this `str` function. <br>
The Python string formatting mini language allows you to write a string statement indicating placeholders for variables to be evaluated. You then pass these variables in either named or in order arguments, and Python handles the string manipulation for you. <br>
Here's an example. Imagine we have purchase order details and a dictionary, which includes a number of items, a price, and a person's name. We can write a sales statement string which includes these items using curly brackets. We can then call the format method on that string and pass in the values that we want substituted as appropriate.<br>
Now the string formatting language allows us to do much more than this. We can control a number of different things like decimal places, for floating point numbers, or whether you want to prepend the positive numbers with the plus sign, or set the alignment of strings to left or right justified, or even enable to use of scientific notation.

In [65]:
sales_record = {
    'price': 5.14,
    'num_items': 5,
    'person': 'James'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

James bought 5 item(s) at a price of 5.14 each for a total of 25.7

Or use f-strings

In [66]:
print(f'{sales_record["person"]} bought {sales_record["num_items"]} item(s) at a price of {sales_record["price"]} each for a total of {sales_record["num_items"]*sales_record["price"]}')

James bought 5 item(s) at a price of 5.14 each for a total of 25.7

### Dates and Times

A lot of analysis you do might relate to dates and times. <br> 
First, you should be aware that date and times can be stored in many different ways. One of the most common legacy methods for storing the date and time in online transactions systems is based on the offset from the epoch, which is January 1, 1970. <br>
There's a lot of historical cruft around this, but it's not uncommon to see systems storing the date of a transaction in seconds or milliseconds since this date. So if you see large numbers where you expect to see date and time, you'll need to convert them to make much sense out of the data. <br>
 In Python, you can get the current time since the epoch using the `time` module. You can then create a timestamp using the `fromtimestamp` function on the date time object. When we print this value out, we see that the year, month, day, and so forth are also printed out. <br>
The date time object has handy attributes to get the representative hour, day, seconds, etc.

In [67]:
import datetime as dt
import time as tm


`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [68]:
tm.time()

1600714741.0968964

<br>
Convert the timestamp to datetime.

In [69]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 9, 21, 21, 59, 5, 687391)

<br>
Handy datetime attributes:

In [70]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second 
# get year, month, day, etc.from a datetime

(2020, 9, 21, 21, 59, 5)


`timedelta` is a duration expressing the difference between two dates.

In [71]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)


`date.today` returns the current local date.

In [72]:
today = dt.date.today()

In [73]:
today

datetime.date(2020, 9, 21)

In [74]:
today - delta # the date 100 days ago

datetime.date(2020, 6, 13)

In [75]:
(today - delta).day

13

In [76]:
(today - delta).month

6

In [77]:
today > today-delta # compare dates

True

In [78]:
new_year = dt.date(2021,1,1)

In [79]:
import numpy as np
np.abs(today-new_year)

datetime.timedelta(days=102)

In [80]:
print(f'There are {np.abs(today-new_year).days//7} weeks and {np.abs(today-new_year).days%7} days until New Year.')

There are 14 weeks and 4 days until New Year.

### Objects and map()

An example of a class in python:
To define a method, you just write it as you would have a function. The one change, is that to have access to the instance which a method is being invoked upon, you must include `self` in the method signature.

In [81]:
class Person:
    department = 'MI7 ' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [82]:
person = Person()
person.set_name('James Bond')
person.set_location('London, UK')
print('{} live in {} and works in {}'.format(person.name, person.location, person.department))

James Bond live in London, UK and works in MI7

Here's an example of mapping the `min` function between two lists.<hr>
Imagine we have two lists of numbers, maybe prices from two different stores on exactly the same items. And we wanted to find the minimum that we would have to pay if we bought the cheaper item between the two stores. To do this, we could iterate through each list, comparing items and choosing the cheapest.<br> With `map`, we can do this comparison in a single statement.<br>
But when we go to print out the map, we see that we get an odd reference value instead of a list of items that we're expecting. This is called **lazy evaluation**. In Python, the map function returns to you a map object. It doesn't actually try and run the function min on two items, until you look inside for a value.<br>This is an interesting design pattern of the language, and it's commonly used when dealing with big data. This allows us to have very efficient memory management, even though something might be computationally complex.

In [83]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest #also list(cheapest)

Now let's iterate through the map object to see the values.
Maps are iterable, just like lists and tuples, so we can use a for loop to look at all of the values in the map.

In [84]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01


### Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [85]:
my_function = lambda a, b, c : a + b

In [86]:
my_function(1, 2, 3)

3

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [87]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

<br>
Now the same thing but with list comprehension.

In [88]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
list_= list(range(100))
odd_list = filter(lambda x : x % 2 !=0, list_)
list(odd_list)[:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]